body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(56, 59, 61);
}

#icon{
    width: 75px;
    height: 75px;
    padding-left: 80px;
}
#nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 100px;
}
#noticias{
    text-align: center;
    justify-content: space-around;
    padding: 6px;
    display: flex;
    flex-wrap: wrap;
}
.noticia{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: honeydew;
    background-color: rgb(30, 31, 32);
    border: 3px solid whitesmoke;
    border-radius: 15px;
    padding: 15px;
    max-width: 500px;
}
.img_noticia{
    height: 300px;
    width: 450px;
}
#escalacao{
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Titulo_Escalacao{
    padding-top: 2px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icon_jogador{
    height: 80px;
    width: 80px;
    display: flexbox;
    padding: 20px;
}
#jogador{
   display: flex;
   align-items: center;
   justify-content: space-between;
}